@import '../../scss/vars.scss';

.authentification-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    margin: 30px auto 0;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: $bgColor;
    text-align: center;
}

.light .authentification-block {
    border-color: $dayBorderColor;
}

.dark .authentification-block {
    border-color: $nightBorderColor;
}

@media (max-width: 699px) {
    .authentification-block {
        width: 100%;
    }
}