@import '../../scss/vars.scss';

.container_message-block {
    padding: 15px 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: $panelColor;
}

.error-message {
    color: $redColor;
}

.light .container_message-block {
    border-color:  $dayBorderColor;
}

.dark .container_message-block {
    border-color:  $nightBorderColor;
}