@import '../../scss/vars.scss';

.cart-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 8.5%;
    right: 0.2%;
    z-index: 3;
    width: 350px;
    height: 500px;
    border: 2px solid $dayBorderColor;
    border-radius: 10px;
    background-color: $panelColorOpaque;

    &_container {
        width: 100%;
        height: 80%;
        overflow-y: scroll;
    }

    .linked-button {
        margin-bottom: 20px;
    }
}

.empty-cart-title {
    margin-top: 60%;
    text-align: center;
}