.main-container {
    min-height: 100vh;
    height: 100%;
    background: fixed no-repeat center/cover;
}

.main-container_theme_light {
    background-image: url("../../assets/background/626b97c093fcf.png");
}

.main-container_theme_dark {
    background-image: url("../../assets/background/626b9729590b4.png");
}