@import '../../../scss/vars.scss';

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 8.5%;
    right: 0.2%;
    z-index: 3;
    border: 2px solid;
    border-radius: 10px;
}

.light .dropdown {
    border-color: $dayBorderColor;
    background-color: $dayPanelColor;
}

.dark .dropdown {
    border-color: $nightBorderColor;
    background-color: $nightPanelColor;
}

@media (max-width: 349px) {
    .dropdown {
        top: 15%;
    }
}

/* @media (max-width: 499px) {
    .dropdown {
        width: 99%;
    }
} */
