@import '../../../scss/vars.scss';

.header-links {
    &_dropdown-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 95vw;
        height: 100%;
    }

    &_dropdown-link {
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid;
        transition: background-color 0.5s, color 0.5s;
    }

    &_dropdown-link:last-of-type {
        border: none;
    }

    .light &_dropdown-link {
        color: $dayTitleColor;

        &:hover {
            background-color: $dayTitleColor;
            color: #fff
        }
    }

    .dark &_dropdown-link {
        color: $nightTitleColor;

        &:hover {
            background-color: $nightTitleColor;
            color: #fff
        }
    }
}