@import '../../scss/vars.scss';

.page-container {
    width: 70%;
    margin: 30px auto 0;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: $bgColor;
    text-align: center;

    &__title {
        /* font-family: 'Harry Potter'; */
        font-family: 'Leto Text Sans';
    }
}

.main-container_theme_light .page-container {
    border-color: $dayBorderColor;

    &__title {
        color: $dayTitleColor;
    }
}

.main-container_theme_dark .page-container {
    border-color: $nightBorderColor;

    &__title {
        color: $nightTitleColor;
    }
}

@media (max-width: 1010px) {
    .page-container {
        width: 100%;
        padding: 5px;
    }
}

@media (max-width: 499px) {
    .page-container {
        background-color: transparent;
        border: none;

        &__title {
            display: none;
        }
    }
}