@import '../../scss/vars.scss';

.page-container {
    width: 70%;
    margin: 30px auto 0;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: $bgColor;
    text-align: center;

    &_title {
        font-family: 'Harry Potter';
    }
}

.light .page-container {
    border-color: $dayBorderColor;

    &_title {
        color: $dayTitleColor;
    }
}

.dark .page-container {
    border-color: $nightBorderColor;

    &_title {
        color: $nightTitleColor;
    }
}

@media (max-width: 799px) {
    .page-container {
        width: 100%;
    }
}