@import '../../../scss/vars.scss';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        margin-bottom: 25px;
        font-family: 'Harry Potter';
    }

    &_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        position: relative;
        min-width: 400px;
        padding: 50px;
        border-radius: 10px;
        background-color: $panelColor;
    }

    & .labeled-input_block {
        margin-bottom: 15px;
    }

    & .error-message {
        max-width: 300px;
    }

    &_route-link {
        margin-top: 10px;
        font-weight: bold;
        text-decoration-color: transparent;
        text-decoration-thickness: 2px;
        transition: text-decoration 0.3s;
    }

    .dark &_route-link {
        color: $nightTitleColor;

        &:hover {
            text-decoration-color: $nightTitleColor;
        }
    }

    .light &_route-link {
        color: $dayTitleColor;

        &:hover {
            text-decoration-color: $dayTitleColor;
        }
    }
}

.light .form_title {
    color: $dayTitleColor;
}

.dark .form_title {
    color: $nightTitleColor;
}

@media (max-width: 449px) {
    .form {
        &_data {
            min-width: 200px;
        }
    }
}