@import '../../scss/vars';


.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 3px solid;
    border-radius: 10px;
    background-size: 100% 100%;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);
    }
    &:hover &_date-info {
        background-color: $hoverPanelColor;
    }
    &:hover &_info-block {
        background-color: $hoverPanelColor;
    }

    &_date-info {
        padding: 3px 5px;
        border-bottom: 2px solid;
        border-radius: 10px 10px 0 0;
        text-align: right;
        background-color: $panelColor;
        transition: background-color 0.5s;
    }

    &_info-block {
        max-height: 150px;
        padding: 0 5px;
        border-top: 2px solid;
        border-radius: 0 0 7px 7px ;
        background-color: $panelColor;
        transition: background-color 0.5s;
    }

    &_title {
        padding: 10px 0;
        text-align: center;
    }
}

.light .news-item {
    border-color: $dayBorderColor;

    &_date-info {
        border-color: $dayBorderColor;
        color: $dayTitleColor;
    }

    &_info-block {
        border-color: $dayBorderColor;
    }

    &_title {
        color: $dayTitleColor;
    }
}

.dark .news-item {
    border-color: $nightBorderColor;

    &_date-info {
        border-color: $nightBorderColor;
        color: $nightTitleColor;
    }

    &_info-block {
        border-color: $nightBorderColor;
    }

    &_title {
        color: $nightTitleColor;
    }
}

@media (max-width: 399px) {
    .news-item {
        height: 250px;
    }
}

@media (max-width: 349px) {
    .news-item {
        height: 220px;
    }
}