@import '../../../scss/vars.scss';

.purchases-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 10px 0px;
    border-bottom: 2px solid;
    overflow: hidden;

    & span {
        width: 20.25%;
        font-size: 1.2em;
        text-align: center;
    }

    &_image {
        width: 19%;
        height: 100%;
        padding: 0 15px;
        object-fit: contain;
    }

    &_amount {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_interactive {
        font-weight: bold;
        font-size: 2em !important;
        cursor: pointer;
    }
}

.light .purchases-item {
    border-color:  $dayBorderColor;

    &_interactive {
        color: $dayTitleColor;
    }
}

.dark .purchases-item {
    border-color:  $nightBorderColor;

    &_interactive {
        color: $nightTitleColor;
    }
}