@import '../../scss/vars';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border-bottom: 2px solid;
    background-color: $bgColor;

    &__logo-container {
        width: 50px;
        height: 50px;
    }
}

.main-container_theme_light .header {
    border-color: $dayBorderColor;

    &__logo {
        fill: $dayLogoColor;
    }
}

.main-container_theme_dark .header {
    border-color: $nightBorderColor;

    &__logo {
        fill: $nightLogoColor;
    }
}