@import '../../scss/vars.scss';

.product-details {
    padding: 15px;
    border-radius: 10px;
    background-color: $panelColor;

    &__wrapper {
        padding: 0;
    }

    &__title {
        margin-bottom: 20px;
        border-bottom: 2px solid;
        font-family: "Leto Text Sans", sans-serif;
    }
    .main-container_theme_light &__title {
        border-color: $dayBorderColor;
        color: $dayTitleColor;
    }
    .main-container_theme_dark &__title {
        border-color: $nightBorderColor;
        color: $nightTitleColor;
    }

    &__data {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: left;
    }

    &__information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        height: 100%;
    }

    

    &__image {
        max-width: 500px;
        max-height: 500px;
        width: 95%;
        height: 95%;
        margin-right: 30px;
        object-fit: cover;
    }

    &__price {
        font-size: 40px;
        font-weight: bold;
    }

    .main-container_theme_light &__price {
        color: $dayTitleColor;
    }

    .main-container_theme_dark &__price {
        color: $nightTitleColor;
    }

    &__btn {
        margin: 10px 0px 30px;
    }

    &__description {
        padding-top: 10px;
        text-align: justify;

        &-text {
            margin-top: 5px;
        }
    }
    
    .main-container_theme_light &__description {
        border-color: $dayBorderColor;
    }
    .main-container_theme_dark &__description {
        border-color: $nightBorderColor;
    }
}

@media (max-width: 1620px) {
    .product-details {
        &__information {
            width: 100%;
            margin-top: 25px;
            padding-top: 25px;
        }

        .main-container_theme_light &__information {
            border-color: $dayBorderColor;
        }
        .main-container_theme_dark &__information {
            border-color: $nightBorderColor;
        }

        &__image {
            margin: 0;
        }

        &__buy {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 15px;
            width: 100%;
        }

        &__btn {
            margin: 0;
        }

        &__description {
            width: 100%;
            margin-top: 15px;
        }
    }
}

@media (max-width: 499px) {
    .product-details {
        &__price {
            font-size: 30px;
        }
    }
}