@import '../../../scss/vars.scss';

.cart-dropdown {

    &_container {
        width: 350px;
        height: 500px;
        margin-top: 5px;
        margin-right: 5px;
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
    
    &_container + .linked-button {
        margin-bottom: 15px;
    }

    &_container::-webkit-scrollbar {
        width: 10px;
    }
    
    &_container::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $panelColor;
    }

    &_container::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .light &_container::-webkit-scrollbar-thumb {
        background-color: $dayBorderColor;
    }
    .dark &_container::-webkit-scrollbar-thumb {
        background-color: $nightBorderColor;
    }

    .linked-button {
        margin-bottom: 20px;
    }
}

.empty-cart-title {
    margin-top: 60%;
    text-align: center;
}

.light .cart-dropdown {
    border-color: $dayBorderColor;
    background-color: $dayPanelColor;
}

.dark .cart-dropdown {
    border-color: $nightBorderColor;
    background-color: $nightPanelColor;
}

@media (max-width: 349px) {
    .cart-dropdown {
        top: 15%;
    }
}

@media (max-width: 499px) {
    .cart-dropdown {
        width: 99%;
    }
}