$dayLogoColor: rgb(125, 10, 6);
$dayBorderColor: rgb(208, 83, 6);
$dayTitleColor: rgb(123, 21, 18);
$dayTextColor: rgb(24, 24, 24);
$dayPanelColor: rgba(255, 236, 224, 0.8);
$dayPanelColorOpaque: rgb(255, 236, 224, 1);

$nightBorderColor: rgb(32, 52, 95);
$nightLogoColor: rgb(32, 32, 112);
$nightTitleColor: rgb(32, 32, 112);
$nightTextColor: rgb(24, 24, 24);
$nightPanelColor: rgba(215, 233, 255, 0.8);
$nightPanelColorOpaque: rgba(215, 233, 255, 1);

$bgColor: rgba(255, 255, 255, 0.321);
$panelColor: rgba(255, 255, 255, 0.763);
$panelColorOpaque: rgb(236, 236, 236);
$hoverPanelColor: rgb(221, 221, 221);
$placeholderColor: rgb(107, 107, 107);

$goldColor: rgb(227, 138, 13);
$redColor: rgb(209, 21, 14);
$greenColor: rgb(1, 70, 40);
$blueColor: rgb(34, 93, 201);
$yellowColor: rgb(227, 208, 34);