$dayLogoColor: rgb(125, 10, 6);
$dayBorderColor: rgb(208, 83, 6);
$dayTitleColor: rgb(123, 21, 18);
$dayTextColor: rgb(42, 42, 42);

$nightBorder: rgb(31, 68, 149);
$nightLogoColor: rgba(41, 78, 158, 0.875);

$bgColor: rgba(255, 255, 255, 0.321);
$panelColor: rgba(255, 255, 255, 0.763);
$hoverPanelColor: rgb(221, 221, 221);
$placeholderColor: rgb(107, 107, 107);

$goldColor: rgb(227, 138, 13);
$redColor: rgb(209, 21, 14);
$greenColor: rgb(1, 70, 40);
$blueColor: rgb(34, 93, 201);
$yellowColor: rgb(227, 208, 34);