@import '../../scss/vars.scss';

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    height: 100px;
    padding: 10px;

    &_image {
        width: 40%;
        height: 100%;
        object-fit: cover;
    }

    &_info-block {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &_title {
        margin-bottom: 10px;
        border-bottom: 2px solid;
    }

    &_price {
        font-weight: bold;
        font-size: 18px;
    }
}

.light .cart-item {
    &_title {
        border-color: $dayBorderColor;
    }
}

.dark .cart-item {
    &_title {
        border-color: $nightBorderColor;
    }
}